/* css for large devices e.g. desktop browser */
body {
    font-size: 1.1em;
    line-height: 1.4em;
}
/*size detection */
#device-size{
    font-size: 3px;
}

p {
	max-width: 46em;
}

.content {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}
img{
	max-width: 46em;
}
.video-container{
    max-width: 46em;
    width: 46em;
    height: 25.875em;
}
.video{
    height: 100%;
    width: 100%;
}
#mg-sidebar {
    /*max-width: 15.333em;*/
}
.sidebar-list-item, .sidebar-list-category {
	width: 90%;
	border-bottom: 1px solid #242424;
    border-top: 1px solid #707070;
    display: block;
    min-height: 52px;
    padding: 0 10% 0 0;
}
.item-image {
	width: 40px;
	height: 40px;
	margin: 6px;
	float: left;
}
.item-text {
	margin: 4px 0 4px 44px;
	color: white;
    font-size: 0.8em;
    line-height: 1em;
}
.mg-carousel, .mg-carousel-item img, .mg-carousel-indicator{
	max-width: 46em;
}