/* css for large devices e.g. desktop browser */
body {
	font-size: 1.2em;
    line-height: 1.4em;
}

p {
	max-width: 30em;
}

.content {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
    column-width: 24em;
}
img {
	max-width: 24em;
}
.sidebar-list-item, .sidebar-list-category {
	width: 90%;
	border-bottom: 1px solid #242424;
    border-top: 1px solid #707070;
    display: block;
    min-height: 52px;
    padding: 0 10% 0 0;
}
.item-image {
	width: 40px;
	height: 40px;
	margin: 6px;
	float: left;
}
.item-text {
	margin: 4px 0 4px 44px;
	color: white;
    font-size: 0.8em;
    line-height: 1em;
}