/* css for medium devices e.g. ipad or other tablets */
body {
	font-size: 1.1em;
    line-height: 1.4em;
}
/*size detection */
#device-size{
    font-size: 2px;
}
.content {
    -moz-column-count: 1;
    -webkit-column-count: ;
    column-count: 1;
}
.video{
    height: 100%;
    width: 100%;
}
.sidebar-list-item, .sidebar-list-category {
	width: 100%;
	border-bottom: 1px solid #242424;
    border-top: 1px solid #707070;
    display: block;
    min-height: 52px;
    padding: 0 18px 0 0;
}
.item-image {
	width: 30px;
	height: 40px;
	margin: 6px;
	float: left;
}
.item-text {
	margin-left: 44px;
	color: white;
    font-family: Verdana,sans-serif;
    font-size: 0.8em;
    line-height: 1.2em;
    height: 52px;
}

@media only screen and (orientation: portrait) {
    img, .image-text{
        max-width: 34em;
    }
    p {
        max-width: 34em;
    }
    .video-container{
        max-width: 30em;
        width: 30em;
        height: 16.875em;
    }
    .mg-carousel, .mg-carousel-item img, .mg-carousel-indicator{
        max-width: 34em;
    }
}
@media only screen and (orientation: landscape) {
    img, .image-text{
        max-width: 46em;
    }
    p {
        max-width: 46em;
    }
    .video-container{
        max-width: 42em;
        width: 42em;
        height: 23.625em;
    }
    .mg-carousel, .mg-carousel-item img, .mg-carousel-indicator{
        max-width: 46em;
    }
}