/* css for small devices e.g. iphone or other mobile phones */
body {
    font-size: 1.1em;
    line-height: 1.4em;
}
/*size detection */
#device-size{
    font-size: 1px;
}
p {
	max-width: 20em;
}

.content {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}

img{
	max-width: 20em;
}
.video-container{
    max-width: 14em;
    width: 14em;
    height: 7.875em;
}
.video{
    height: 100%;
    width: 100%;
}
.audio-container, .audiojs{
    max-width: 14em;
    width: 14em;
}
.audiojs .scrubber{
    max-width: 8.521em;
}
.audiojs .play-pause{
    max-width: 0.76em;
}
.audiojs .time{
    max-width: 2.465em;
}
.sidebar-list-item, .sidebar-list-category {
	width: 100%;
	border-bottom: 1px solid #242424;
    border-top: 1px solid #707070;
    display: block;
    min-height: 26px;
    padding: 0 6px 4px 0;
}
.item-image {
	width: 20px;
	height: 20px;
	margin: 3px;
	float: left;
}
.item-text {
	margin-left: 24px;
	color: white;
    font-size: 0.6em;
    line-height: 0.9em;
}

.mg-carousel, .mg-carousel-item img, .mg-carousel-indicator{
	min-width: 8em;
	max-width: 20em;
}
.mg-carousel{
    /*max-height: 8em;*/
}