/* css for all devices*/

html, body {
    height: 100%;
}

hmtl {
	overflow-y: scroll;
	font-size: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/* @TODO: browser reset? */

#loader {
	background: url(../images/ajax-loader.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	margin: auto;
	text-align: center;
}
#loader > p {
	padding-top: 18%;
}
#container, #slider {
    height: 100%;
    width: 100%;
    position: relative;
}

#container {
	overflow: hidden;
}

#slider {
	top: 0;
}

.slider-page {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 80%;
	height: 100%;
	margin-left: 5%;
}
section {
	display: none;
	/* background: url(../images/ajax-loader.gif) no-repeat center center; */
}
#page-0 {
	left: -80%;
}
#page-1 {
	left: 5%;
}
#page-2 {
	left: 90%;
}
#page-3 {
	left: 175%;
}
#page-4 {
	left: 260%;
}
#page-5 {
	left: 345%;
}
article {
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding: 0.01px;
	max-width: 100%;
}
.landscape {
	display: block;
}

.portrait {
	display: none;
}