#AuthUserFile /var/www/virtual/systest/.htpwd
#AuthGroupFile /dev/null
#AuthName "private"
#AuthType Basic

<Limit GET POST>
#require valid-user
</Limit>
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>

